body {
    background-color: rgba(127, 191, 63, 0.1);; 
}
div.main {
    padding: 10px;
    background-color:silver;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    width: 750px;
    height: 650px;
    margin: auto;
    border: solid, gainsboro, 50px;
    border-radius: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

header {
    float: left;
    clear: left;
}

h1 {
    color: blue;  
}

div.text {
    float: right;
    margin: auto;
    width: 200px;
    color: blueviolet; 
}

img {
    position: relative;
    width: 500px;
    float: left;
    padding: 5px;
    border: inset, grey, 20px;
    border-radius: 30px; 
}
